# Firebase (client-side)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBIBJ4yPo4yHnZ2zyi__inlNwAogV1AZNU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=promptify-e5a82.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=promptify-e5a82
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=promptify-e5a82.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=11160991727
NEXT_PUBLIC_FIREBASE_APP_ID=1:11160991727:web:fced21dbfcc527d7af281a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-PTGB2JVWM2    

# Supabase (client-side)
NEXT_PUBLIC_SUPABASE_URL=https://gquzgewjyayurxgdekyy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxdXpnZXdqeWF5dXJ4Z2Rla3l5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU5MTE4NDEsImV4cCI6MjA3MTQ4Nzg0MX0.0u_E2gCYeFBvK31qG4Hk0Ah8mUTaN4DAEOXk8QL7Jb8


# Gemini AI (server-side only — never exposed to browser)
GEMINI_API_KEY=AIzaSyBbf83OIMtEWeqnK3RkImCT1x_Nq5oaw8s

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_RQ6NpjJhLhsluu
RAZORPAY_KEY_SECRET=hZoVIE2qPDIKO1zg5vj25QRH

# Resend Email (server-side only)
RESEND_API_KEY=re_CNDbg7JJ_JqToSNZFb4sEGWynkaiUV1uc
